Workflows/Copyof-WhenanewemailarriveswithADOworkitemid-E52087DF-5739-ED11-BBA2-000D3A5BC29C.json
{
  "properties": {
    "connectionReferences": {
      "shared_conversionservice": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_conversionservice"
        }
      },
      "shared_visualstudioteamservices": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_visualstudioteamservices"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_email_arrives_(V3)": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "ab2e597d-ed53-4d49-a47c-98546ed7aa9b"
          },
          "type": "OpenApiConnectionNotification",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "OnNewEmailV3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "folderPath": "Inbox",
              "includeAttachments": false,
              "importance": "Any",
              "fetchOnlyWithAttachment": false
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_if_incoming_email_is_not_autogenerated_one": {
          "actions": {
            "Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c8393c74-1208-4ab4-9457-7cafddcc5a35"
              },
              "type": "Compose",
              "inputs": "Work Item exists"
            },
            "Index_of_Work_Item_Id_substring_in_a_body_string": {
              "runAfter": {
                "Html_to_text": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "46ad1ffc-dbd6-49ac-ae8e-33c242b3f920"
              },
              "type": "Compose",
              "inputs": "@indexOf(outputs('Html_to_text')?['body'],'[Work Item Id:')"
            },
            "Html_to_text": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a5bdf998-646c-4c10-b888-facdae57cfa7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_conversionservice",
                  "operationId": "HtmlToText",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                },
                "parameters": {
                  "Content": "<p>@{triggerOutputs()?['body/body']}</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_work_item_id_chunk": {
              "runAfter": {
                "Index_of_Work_Item_Id_substring_in_a_body_string": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "956c88cd-2882-471c-9747-8f9c75e04664"
              },
              "type": "Compose",
              "inputs": "@substring(outputs('Html_to_text')?['body'],outputs('Index_of_Work_Item_Id_substring_in_a_body_string'),20)"
            },
            "Get_work_item_id": {
              "runAfter": {
                "Get_work_item_id_chunk": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3442e1ac-739b-434d-84fe-c7acae8eed50"
              },
              "type": "Compose",
              "inputs": "@trim(replace(last(split(outputs('Get_work_item_id_chunk'),':')),']',''))"
            },
            "Update_a_work_item": {
              "runAfter": {
                "Get_work_item_id": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "96ddf510-d0ef-4879-b7e1-747d7b446c4b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_visualstudioteamservices",
                  "operationId": "UpdateWorkItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                },
                "parameters": {
                  "account": "hackbox3405",
                  "id": "@outputs('Get_work_item_id')",
                  "project": "Hackbox3405",
                  "type": "Task",
                  "workItem/userEnteredFields": {
                    "History": "@body('Html_to_text')"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Compose_3": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "not": {
                  "contains": [
                    "@triggerOutputs()?['body/subject']",
                    "Creating a task in ADO"
                  ]
                }
              },
              {
                "contains": [
                  "@triggerOutputs()['body/body']",
                  "[Work Item Id:"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "99cd7bdb-73bb-48af-b7e8-a2bf84d82b11"
          },
          "type": "If"
        },
        "Compose_2": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c57a94ab-4afc-4e22-8757-4becf1d7c990"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()['body/body']"
        },
        "Compose_3": {
          "runAfter": {
            "Compose_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3e1b2094-a6b9-4f49-abf0-f5ba1680e5ec"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/body']"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}